<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.hanja.dao.HanjaDataDAO">
	
	<!-- 2. 1개 얻기 -->
	<select id="selectByIdx" resultType="HanjaDataVO">
		select * from hanjadata where d=#{d} and s=#{s}
	</select>
	
</mapper>